{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <style>
        #checkout-prod-image {
            background: url('{{ product.image.url }}') no-repeat fixed center;
            background-size: cover;
            z-index: -999;
        }
    </style>
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="head-image-shape" id="checkout-prod-image"><div class="overlay"></div></div>
    <div class="row" id="checkout-image-head">
        <h1 class="col-12 text-center">Booking Summary</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row sub-header">
        <h2 class="text-center col-12">Confirm Booking Details</h2>
        <hr class="text-center col-8 offset-2">
    </div>
    <div class="container-fluid checkout-summary-container">
        {% if bag_items %}
            <div class="row">
                <div class="col-5 offset-md-1 offset-lg-2 mb-1">
                    <a href="{% url 'product_rental' product.id %}">
                        <img class="w-100 card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                </div>
                <div class="col-7 col-md-6 col-lg-5">
                    <div class="product-info">
                        <p class="my-0">{{ product.name }}</p>
                        <p class="my-0">Size: <span class="prod-info-variable">{{ product.size }}</span></p>
                        <p class="my-0">Price: <span class="prod-info-variable">€{{ product.price }} Per Day</span></p>
                        <p class="my-0">Length: <span class="prod-info-variable">{{ rental_days }} Days</span></p>
                        <p class="my-0">Start: <span class="prod-info-variable">{{ start_date }}</span></p>
                        <p class="my-0">Total Price: <span class="prod-info-variable">€{{ total_cost }}</span></p>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <a href="{% url 'checkout' %}" class="btn green--btn col-4 offset-1">
                    <i class="bi bi-box-arrow-in-right"></i> Confirm
                </a>
                <a href="{% url 'product_rental' product.id %}" id="remove-button" class="btn rent--btn col-4 offset-2">
                    <i class="bi bi-x-circle"></i> Cancel
                </a>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <p class="text-center text-muted">
                        You haven't selected any item to rent!<br>
                        <a href="{% url 'products' %}" class="btn rent--btn mt-2">
                            <i class="bi bi-box-arrow-in-left"></i> Back To Products
                        </a>
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
{% endblock %}