{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="head-image-shape" id="hero-image-shape"></div>
{% endblock %}

{% block content %}
    <div class="row sub-header">
        <h1 class="text-center col-12">Premium Sneaker Rental</h1>
        <hr class="text-center col-8 offset-2">
    </div>
    <div class="row container-fluid main-content-container">
        <h3 class="text-center col-12">How does it work?</h3>
        <p class="text-center col-12">
            1. Create an account<br>
            2. Choose your sneakers<br>
            3. Select your rental dates<br>
            4. Confirm your booking & pay<br>
            5. We ship the sneakers to you!<br>
        </p>
        {% if request.user.is_authenticated %}
            <a href="{% url 'profile' %}" class="text-center col-12"><button class="btn cta--btn"><i class="bi bi-person-square"></i> Go To Profile</button></a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="text-center col-12"><button class="btn cta--btn"><i class="bi bi-person-plus"></i> Create An Account</button></a>
        {% endif %}
        <div class="col-12 text-center smile-icon"><i class="bi bi-emoji-smile"></i></div>
    </div>
    <div class="row container-fluid sub-content-container">
        <div class="col-12 clean-img"></div>
        <div class="card info-card col-10 offset-1">
            <div class="card-body text-center">
                All sneakers are professionally cleaned between each rental!
            </div>
        </div>
        <div class="col-10 offset-1">
            <div class="row">
                <a href="{% url 'products' %}" class="text-center col-12"><button class="btn cta--btn"><i class="bi bi-grid-3x2-gap"></i> See All Sneakers</button></a>
            </div>
        </div>
        <div class="col-12 return-img"></div>
        <div class="card info-card col-10 offset-1">
            <div class="card-body text-center">
                Hassle-free returns: Pack the sneakers in the box they arrived in, we'll pick them up from your door!
            </div>
        </div>
        <div class="col-10 offset-1">
            <div class="row">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="text-center col-12"><button class="btn cta--btn"><i class="bi bi-person-square"></i> Go To Profile</button></a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="text-center col-12"><button class="btn cta--btn"><i class="bi bi-person-plus"></i> Create An Account</button></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}