{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="page-header row">
    <div class="hero-image-shape"></div>
</div>
{% endblock %}

{% block content %}
    <div class="row home-header">
        <h1 class="text-center col-12">Premium Sneaker Rental</h1>
        <hr class="text-center col-8 offset-2">
    </div>
    <div class="row container-fluid content-container">
        <h3 class="text-center col-12">How does it work?</h3>
        <p class="text-center col-12">
            1. Create an account<br>
            2. Choose your sneakers<br>
            3. Select your rental dates<br>
            4. Confirm your booking & pay<br>
            5. We ship the sneakers to you!<br>
        </p>
        <a href="" class="text-center col-12"><button class="btn cta--btn"><i class="bi bi-person-plus"></i> Create An Account</button></a>
        <div class="col-12 text-center smile-icon"><i class="bi bi-emoji-smile"></i></div>
    </div>
{% endblock %}