{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    {% for item in booking.lineitems.all %}
        <style>
            #checkout-prod-image {
                background: url('{{ item.product.image.url }}') no-repeat fixed center;
                background-size: cover;
                z-index: -999;
            }
        </style>
    {% endfor %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="head-image-shape" id="checkout-prod-image"><div class="overlay"></div></div>
    <div class="row" id="checkout-image-head">
        <h1 class="col-12 text-center">Thank You!</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row sub-header">
        <h2 class="text-center col-12">Booking Confirmed!</h2>
        <hr class="text-center col-8 offset-2">
    </div>
    <div class="container-fluid order-confirmation-container">
        <div class="row booking-info">
            <div class="col-12 col-md-8 offset-md-2">
                <p class="text-center text-muted">
                    A confirmation email will be sent to <span class="booking-info-variable">{{ booking.email }}</span><br>
                    Your booking number is:<br>
                    <span class="booking-info-variable">{{ booking.booking_number }}</span>
                </p>
            </div>
        </div>
        <div class="row booking-info">
            {% for item in booking.lineitems.all %}
                <div class="col-12 col-md-5 offset-md-2">
                    <div class="row booking-info">
                        <div class="col">
                            <p class="my-0"><u>{{ item.product.name }}</u></p>
                        </div>
                    </div>
                    <div class="row booking-info">
                        <div class="col-4">
                            <p class="my-0">Size:</p>  
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0 booking-info-variable">{{ item.product.size }}</p>
                        </div>
                    </div>
                    <div class="row booking-info">
                        <div class="col-4">
                            <p class="my-0">Price:</p>  
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0 booking-info-variable">{{ item.product.price }}</p>
                        </div>
                    </div>
                    <div class="row booking-info">
                        <div class="col-4">
                            <p class="my-0">Length:</p>  
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0 booking-info-variable">{{ item.rental_days }} Days</p>
                        </div>
                    </div>
                    <div class="row booking-info">
                        <div class="col-4">
                            <p class="my-0">Total Price:</p>  
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0 booking-info-variable">{{ item.lineitem_total }}</p>
                        </div>
                    </div>
                    <div class="row booking-info">
                        <div class="col-4">
                            <p class="my-0">Order Date:</p>  
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0 booking-info-variable">{{ booking.order_date }}</p>
                        </div>
                    </div>
                    <div class="row booking-info">
                        <div class="col-4">
                            <p class="my-0">Start Date:</p>  
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0 booking-info-variable">{{ booking.start_date }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-12 col-md-5">
                <div class="row booking-info mt-2">
                    <div class="col">
                        <p class="my-0"><u>Delivering To:</u></p>
                    </div>
                </div>
                <div class="row booking-info">
                    <div class="col-4">
                        <p class="mb-0">Full Name:</p>
                    </div>
                    <div class="col-8 text-md-right">
                        <p class="mb-0 booking-info-variable">{{ booking.full_name }}</p>
                    </div>
                </div>
                <div class="row booking-info">
                    <div class="col-4">
                        <p class="mb-0">Address 1:</p>
                    </div>
                    <div class="col-8 text-md-right">
                        <p class="mb-0 booking-info-variable">{{ booking.street_address1 }}</p>
                    </div>
                </div>
                {% if booking.street_address2 %}
                    <div class="row booking-info">
                        <div class="col-4">
                            <p class="mb-0">Address 2:</p>
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0 booking-info-variable">{{ booking.street_address2 }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if booking.county %}
                    <div class="row booking-info">
                        <div class="col-4">
                            <p class="mb-0">County:</p>
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0 booking-info-variable">{{ booking.county }}</p>
                        </div>
                    </div>
                {% endif %}
                <div class="row booking-info">
                    <div class="col-4">
                        <p class="mb-0">Town:</p>
                    </div>
                    <div class="col-8 text-md-right">
                        <p class="mb-0 booking-info-variable">{{ booking.town_or_city }}</p>
                    </div>
                </div>
                {% if order.postcode %}
                    <div class="row booking-info">
                        <div class="col-4">
                            <p class="mb-0">Postal Code:</p>
                        </div>
                        <div class="col-8 text-md-right">
                            <p class="mb-0 booking-info-variable">{{ booking.postcode }}</p>
                        </div>
                    </div>
                {% endif %}
                <div class="row booking-info">
                    <div class="col-4">
                        <p class="mb-0">Phone:</p>
                    </div>
                    <div class="col-8 text-md-right">
                        <p class="mb-0 booking-info-variable">{{ booking.phone_number }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-10 offset-1">
                <div class="row">
                    <a href="{% url 'products' %}" class="text-center col-12"><button class="btn cta--btn"><i class="bi bi-grid-3x2-gap"></i> All Sneakers</button></a>
                </div>
            </div>
        </div>
        <!-- <div class="row booking-info">
            <div class="col-12 col-md-8 offset-md-2">
                <p class="my-0">Order Date: <span class="booking-info-variable">{{ booking.order_date }}</span></p>
                <p class="my-0">Start Date: <span class="booking-info-variable">{{ booking.start_date }}</span></p>
            </div>
        </div>
        <div class="row booking-info mt-2">
            <div class="col">
                <small class="text-muted">Delivering To:</small>
            </div>
        </div>
        <div class="row booking-info">
            <div class="col-12 col-md-4">
                <p class="mb-0">Full Name:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 booking-info-variable">{{ booking.full_name }}</p>
            </div>
        </div>
        <div class="row booking-info">
            <div class="col-12 col-md-4">
                <p class="mb-0">Address 1:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 booking-info-variable">{{ booking.street_address1 }}</p>
            </div>
        </div>
        {% if booking.street_address2 %}
            <div class="row booking-info">
                <div class="col-12 col-md-4">
                    <p class="mb-0">Address 2:</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 booking-info-variable">{{ booking.street_address2 }}</p>
                </div>
            </div>
        {% endif %}
        {% if booking.county %}
            <div class="row booking-info">
                <div class="col-12 col-md-4">
                    <p class="mb-0">County:</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 booking-info-variable">{{ booking.county }}</p>
                </div>
            </div>
        {% endif %}
        <div class="row booking-info">
            <div class="col-12 col-md-4">
                <p class="mb-0">Town or City:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 booking-info-variable">{{ booking.town_or_city }}</p>
            </div>
        </div>
        {% if order.postcode %}
            <div class="row booking-info">
                <div class="col-12 col-md-4">
                    <p class="mb-0">Postal Code:</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 booking-info-variable">{{ booking.postcode }}</p>
                </div>
            </div>
        {% endif %}
        <div class="row booking-info">
            <div class="col-12 col-md-4">
                <p class="mb-0">Phone Number:</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
                <p class="mb-0 booking-info-variable">{{ booking.phone_number }}</p>
            </div>
        </div> -->
        <!-- <div class="row mt-2">
            <div class="col-10 offset-1">
                <div class="row">
                    <a href="{% url 'products' %}" class="text-center col-12"><button class="btn cta--btn"><i class="bi bi-grid-3x2-gap"></i> All Sneakers</button></a>
                </div>
            </div>
        </div> -->
    </div>
{% endblock %}