{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <style>
        #checkout-prod-image {
            background: url('{{ product.image.url }}') no-repeat fixed center;
            background-size: cover;
            z-index: -999;
        }
    </style>
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="head-image-shape" id="checkout-prod-image"><div class="overlay"></div></div>
    <div class="row" id="checkout-image-head">
        <h1 class="col-12 text-center">Checkout</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row sub-header">
        <h2 class="text-center col-12">Booking Summary</h2>
        <hr class="text-center col-8 offset-2">
    </div>
    <div class="container-fluid checkout-summary-container">
        <div class="row">
            <div class="col-5 offset-md-1 offset-lg-2 mb-1">
                <a href="{% url 'product_rental' product.id %}">
                    <img class="w-100 card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
            </div>
            <div class="col-7 col-md-6 col-lg-5">
                <div class="product-info">
                    <p class="my-0">{{ product.name }}</p>
                    <p class="my-0">Size: <span class="prod-info-variable">{{ product.size }}</span></p>
                    <p class="my-0">Price: <span class="prod-info-variable">€{{ product.price }} Per Day</span></p>
                    <p class="my-0">Length: <span class="prod-info-variable">{{ rental_days }} Days</span></p>
                    <p class="my-0">Start: <span class="prod-info-variable">{{ start_date }}</span></p>
                    <p class="my-0">Total Price: <span class="prod-info-variable">€{{ total_cost }}</span></p>
                </div>
                <a href="{% url 'product_rental' product.id %}" class="btn rent--btn">
                    <i class="bi bi-box-arrow-in-left"></i> Adjust Dates
                </a>
            </div>
        </div>
    </div>
    <div class="row sub-header">
        <h2 class="text-center col-12">Checkout</h2>
        <hr class="text-center col-8 offset-2">
    </div>
    <div class="container-fluid checkout-form-container">
        <div class="row mt-2 checkout-form">
            <div class="col-12 col-lg-6 offset-lg-3">
                <p class="text-center text-muted">Please fill out the form below to complete your order.</p>
                <form action="{% url 'checkout' product.id %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-2">
                        <legend class="fieldset-label small px-2 w-auto">Details</legend>
                        {{ booking_form.full_name | as_crispy_field }}
                        {{ booking_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 mb-2">
                        <legend class="fieldset-label small px-2 w-auto">Delivery</legend>
                        {{ booking_form.phone_number | as_crispy_field }}
                        {{ booking_form.postcode | as_crispy_field }}
                        {{ booking_form.town_or_city | as_crispy_field }}
                        {{ booking_form.street_address1 | as_crispy_field }}
                        {{ booking_form.street_address2 | as_crispy_field }}
                        {{ booking_form.county | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 mb-2">
                        <legend class="fieldset-label small px-2 w-auto">Payment</legend>
                        <!-- Stripe card element -->
                        <div id="card-element" class="mb-2"></div>
                        <!-- Display card errors -->
                        <div id="card-errors" class="mb-3 text-danger" role="alert"></div>
                    </fieldset>
                    <div class="submit-button ms-3 mb-2">                    
                        <button id="submit-button" class="btn green--btn mb-2">
                            <i class="bi bi-lock"></i> Complete Booking
                        </button>
                        <p class="small text-danger my-0 col-12">
                            <i class="bi bi-exclamation-circle"></i>
                            <span>Your card will be charged ${{ total_cost }}.<br>
                                Payment information will be saved to your profile.</span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}