@font-face {
    font-family: 'Newake';
    src: url('fonts/NewakeDemo.woff') format('woff'), url('fonts/NewakeDemo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProjektBlackbird';
    src: url('fonts/ProjektBlackbird-Regular.woff') format('woff'), url('fonts/ProjektBlackbird-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 1em;
}

body {
    background-color: rgb(235, 235, 235);
    font-family: ProjektBlackbird, sans-serif;
}

.row {
    margin: 0;
}

/* ---------------------------------------- Navbar */

.navbar {
    height: 15vh;
    background-color: transparent;
    z-index: 999999;
    font-size: 1.25rem;
}

#navigation #logo {
    font-family: Newake, sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    -webkit-text-stroke: 0.15rem rgba(43, 22, 22, 0.9);
}

#navigation #logo,
#navigation .nav-item,
#navigation a,
#navModal .nav-item, 
#navModal a {
    color: rgb(166, 221, 221);
}

.nav-shape {
    width: 200%;
    height: 60vh;
    margin-top: -60vh;
    transform: skewY(-10deg);
    background-color: rgb(82, 72, 156);
    z-index: -999;
}

#navModal {
    margin-top: 5rem;
}

/* Glassmorphism effect adapted from: https://ui.glass/generator/ */
#navModal>.modal-dialog>.modal-content {
    background: rgba(82, 72, 156, 0.75);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

/* ---------------------------------------- Head */

.message-container,
.page-header {
    margin-top: 25vh;
}

/* ---------------------------------------- Home */

.hero-image-shape {
    width: 100%;
    height: 55vh;
    margin-top: -7vh;
    transform: skewY(-10deg);
    background: url('../images/pastel-af1.jpg') no-repeat fixed center;
    background-size: cover;
}

/* ---------------------------------------- Footer */

.foot-shape {
    width: 100%;
    height: 20vh;
    margin-top: 55vh;
    transform: skewY(-10deg);
    background-color: rgb(82, 72, 156);
    z-index: -999;
}

footer {
    height: 15vh;
    background-color: rgb(82, 72, 156);
    color: rgb(166, 221, 221);
    z-index: 999999;
    font-size: 1.25rem;
}

.footer > .col-12 > .row > .col-6 {
    text-decoration: none;
    color: rgb(166, 221, 221);
}

@media only screen and (min-width: 492px) {
    .foot-shape {
        height: 35vh;
    }

    footer {
        height: 17vh;
    }
}