{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="head-image-shape" id="blog-image"><div class="overlay"></div></div>
    <div class="row" id="blog-image-head">
        <h1 class="col-12 text-center">Add A Blog Post</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row sub-header">
        <h2 class="text-center col-12">Add On-Feet Photo</h2>
        <hr class="text-center col-8 offset-2">
    </div>
    <div class="row main-content-container mt-2">
        <div class="col-12 col-md-6 offset-md-3">
            <form action="{% url 'add_blog_post' %}" method="POST" class="mt-3" id="blog-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-lg green--btn" type="submit"><i class="bi bi-envelope"></i> Submit</button>
                <a href="{% url 'blog' %}" id="remove-button" class="btn rent--btn col-4 offset-2">
                    <i class="bi bi-x-circle"></i> Cancel
                </a>
            </form>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
        document.getElementById("user-hidden-input").type = "hidden";
    </script>
{% endblock %}