{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_header %}
  <div class="auth-image-shape" id="auth-image"><div class="auth-overlay"></div></div>
  <div class="row" id="auth-image-head">
      <h1 class="col-12 text-center">Change Password</h1>
  </div>
{% endblock %}

{% block content %}
<div class="row main-content-container mt-5">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="text-center col-12 mt-5" id="login-subheader">
        {% trans 'Your password is now changed.' %}
    </p>
</div>
{% endblock %}
