{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_header %}
  <div class="auth-image-shape" id="auth-image"><div class="auth-overlay"></div></div>
  <div class="row" id="auth-image-head">
      <h1 class="col-12 text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
  </div>
{% endblock %}

{% block content %}
<div class="row main-content-container mt-5">
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-center col-12 mt-5" id="login-subheader">
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
    {% else %}
        {% if form %}
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card form-card" id="login-form-card">
                    <div class="card-body row">
                        <form class="password_reset" id="password_reset" method="POST"
                            action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn cta--btn text-center col-10 offset-1 primaryAction mt-3" type="submit" name="action">
                                <i class="bi bi-key"></i> {% trans 'Change Password' %}</button>
                        </form>
                        <p class="col-12 text-center">Please <a href="{% url 'contact' %}">contact us</a> if you
                            have any trouble resetting your password.</p>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-center col-12 mt-5" id="login-subheader2">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
