{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block page_header %}
  <div class="auth-image-shape" id="auth-image"><div class="auth-overlay"></div></div>
  <div class="row" id="auth-image-head">
      <h1 class="col-12 text-center">Reset Password</h1>
  </div>
{% endblock %}

{% block content %}
<div class="row main-content-container mt-5">
    <p class="text-center col-12 mt-5" id="login-subheader">
        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    </p>
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card form-card" id="login-form-card">
            <div class="card-body row">
                <form class="password_reset" id="password_reset" method="POST"
                    action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn cta--btn text-center col-10 offset-1 primaryAction mt-3" type="submit"><i
                            class="bi bi-key"></i> {% trans 'Reset My Password' %}</button>
                </form>
                <p class="col-12 text-center">Please <a href="{% url 'contact' %}">contact us</a> if you
                    have any trouble resetting your password.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}