{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block page_header %}
  <h1 class="text-center auth-head">{% trans "Create an Account" %}</h1>
{% endblock %}

{% block content %}

  <div class="row main-content-container">
    <p class="text-center col-12">{% blocktrans %}Already have an account?<br>Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    <div class="col-12">
      <div class="card form-card">
        <div class="card-body row">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn cta--btn text-center col-10 offset-1" type="submit"><i class="bi bi-person-plus"></i> {% trans "Sign Up" %} &raquo;</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
