{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block page_header %}
    <div class="head-image-shape" id="contact-image"><div class="overlay"></div></div>
    <div class="row" id="contact-image-head">
        <h1 class="col-12 text-center">FAQs</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row sub-header">
        <h2 class="text-center col-12">Frequently Asked Questions</h2>
        <hr class="text-center col-8 offset-2">
    </div>
    <div class="row main-content-container">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="accordion accordion-flush dark" id="faq-accordian">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Are there any booking fees for rentals?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>
                            Nope! We don't charge any additional delivery or booking fees.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            What happens if I return the sneakers late or damaged?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>
                                This is where we do charge extra fees.<br>
                                If the sneakers are returned late, you will be charged the daily rental price for the item for each additional day. Late or damaged sneakers may result in your card being charged up to the full value of the sneakers.<br>
                                Upon checkout your card will be saved to your user profile, and will be charged any late/lost/damage fees automatically should they apply.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            How do returns work?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>
                                Simply pack the sneakers back up in the box they arrived in, and on the delivery date we will collect them from your door!<br>
                                We will call to let you know we're on the way, so that contactless pick-up can be arranged.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}