{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="head-image-shape" id="prod-image-shape"><div class="overlay"></div></div>
    <div class="row" id="prod-image-head">
        <h1 class="col-12 text-center">All Sneakers</h1>
        <p class="col-12 text-center">Currently Available to Rent</p>
    </div>
{% endblock %}

{% block content %}
    <div class="row sub-header">
        <h2 class="text-center col-12">Listings</h2>
        <hr class="text-center col-8 offset-2">
    </div>
    <div class="row container-fluid main-content-container">
        {{ products }}
    </div>
{% endblock %}